  
  canvas {
    background: rgb(226, 116, 26);
    border: 10px solid rgb(13, 4, 15);
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#canvas2 {
  background: rgb(8, 8, 8);
  border: 10px solid rgb(50, 214, 17);
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;    
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#button{
  margin: auto;
  display: block;
  padding: 15px 32px;
  text-align: center;
}

#refreshButton{
  margin: auto;
  display: block;
  padding: 15px 32px;
  text-align: center;
}




  /* 4. Over lay the score on the top left corner of the canvas.*/
  #score {
    position: absolute;
    top: 200px;
    left: 80px;
    z-index: 100;
    font-weight: bold;
    font-size: 100px;
    color: rgb(7, 6, 6);
  }
